### Step1. 600명의 사용자가 9000개의 영화에 대해 평가한 100000개의 평가 데이터가 존재하는 MovieLens100k 데이터셋 다운로드 및 압축해제

In [7]:
!wget https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip -qq /content/ml-latest-small.zip

--2023-03-12 12:40:53--  https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip.2’

ml-latest-small.zip 100%[===================>] 955.28K  3.95MB/s    in 0.2s

2023-03-12 12:40:53 (3.95 MB/s) - ‘ml-latest-small.zip.2’ saved [978202/978202]

replace ml-latest-small/links.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
replace ml-latest-small/tags.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from collections import Counter

movies = pd.read_csv("/content/ml-latest-small/movies.csv")
ratings = pd.read_csv("/content/ml-latest-small/ratings.csv")
print(movies.shape, ratings.shape)

(9742, 3) (100836, 4)

In [38]:
movies.head(3)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance

[3 rows x 3 columns]

### Step2. 평가데이터에 필요없는 항목인 timestamp항목을 drop함수를 이용하여 제거 후 영화별 유저별 평점 데이터를 하나의 프레임으로 merge

In [39]:
ratings.drop('timestamp', axis =1, inplace = True)
ratings.head(3)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0

In [40]:
user_movie_rating = pd.merge(ratings, movies, on = 'movieId')
user_movie_rating.head(3)

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy

[3 rows x 5 columns]

### Step3. 협업 기반 필터링을 수행하기 위해서 pivot table 생성 후 NaN(비어있는 값)을 0으로 채워줌
- 영화-유저 (영화별 평점 데이터를 유저별로 행렬데이터로 변환) -> 아이템 기반
- 유저-영화 (유저별 평점 데이터를 영화별로 행렬데이터로 변환) -> 사용자 기반

In [41]:
movie_user_rating = user_movie_rating.pivot_table('rating', index = 'title', columns ='userId')
movie_user_rating.fillna(0, inplace = True)
user_movie_rating = user_movie_rating.pivot_table('rating', index = 'userId', columns ='title')
user_movie_rating.fillna(0, inplace = True)
print(movie_user_rating.shape, user_movie_rating.shape)

(9719, 610) (610, 9719)

In [64]:
movie_user_rating.head(3)

userId                                   1    2    3    4    ...  607  608  609  610
title                                                        ...
'71 (2014)                               0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Round Midnight (1986)                   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[3 rows x 610 columns]

In [47]:
user_movie_rating.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0

[3 rows x 9719 columns]

### Step4. 코사인 유사도를 사용하여 유사도 계산(아이템 기반)
유사도가 가까울 수록 1에 가까운 값을 나타내게 된다.  
대략적으로 해당 결과에서는 'Hellboy': The Seeds of Creation (2004)를 보면 'Round Midnight (1986) 와 ...And Justice for Al영화에 약 70퍼 유사하다는걸 확인할 수 있다.

In [68]:
from sklearn.metrics.pairwise import cosine_similarity
#-- 아이템 기반 코사인 유사도
item_based_collabor = cosine_similarity(movie_user_rating)
item_based_collabor = pd.DataFrame(data = item_based_collabor, index = movie_user_rating.index, columns = movie_user_rating.index)

#-- 유저 기반 코사인 유사도
user_based_collabor = cosine_similarity(user_movie_rating)
user_based_collabor = pd.DataFrame(data = user_based_collabor, index = user_movie_rating.index, columns = user_movie_rating.index)

# user_based_collabor.head(3)
item_based_collabor.head(3)

title                                    '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                ...
'71 (2014)                                      1.0  ...                                        0.0
'Hellboy': The Seeds of Creation (2004)         0.0  ...                                        0.0
'Round Midnight (1986)                          0.0  ...                                        0.0

[3 rows x 9719 columns]

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

userId       1         2        3    ...       608       609       610
userId                               ...
1       1.000000  0.027283  0.05972  ...  0.291097  0.093572  0.145321
2       0.027283  1.000000  0.00000  ...  0.046211  0.027565  0.102427
3       0.059720  0.000000  1.00000  ...  0.021128  0.000000  0.032119

[3 rows x 610 columns]

### Step5. 해당 결과를 바탕으로 추천 시스템 구현.
앞서 만든 영화-유저(아이템 기반)테이블을 기반으로 영화title을 Input으로 테이블에 해당 title에 유사도 값을 내림차순으로 정렬하여 상위 5개 값을 반환(자기 자신도 포함되므로 +1해야함)

In [90]:
#-- 아이템 기반
def get_item_based_collabor(title): 
  n = 6
  return item_based_collabor[title].sort_values(ascending=False)[:n]
#-- 유저 기반
def get_user_based_collabor(userID):
  n = 6
  return user_based_collabor[userID].sort_values(ascending=False)[:n]

title = "'Hellboy': The Seeds of Creation (2004)"
print("======================아이템 기반", title, "추천 목록======================")
print(get_item_based_collabor(title))

userId = 1
print("======================유저 기반", userId, "번 user 추천 목록======================")
print(get_user_based_collabor(1))

======================아이템 기반 'Hellboy': The Seeds of Creation (2004) 추천 목록======================
title
Space Battleship Yamato (2010)                                1.000000
Monsters (2010)                                               1.000000
'Hellboy': The Seeds of Creation (2004)                       1.000000
All the Right Moves (1983)                                    0.780869
Hidden Fortress, The (Kakushi-toride no san-akunin) (1958)    0.747409
...And Justice for All (1979)                                 0.715542
Name: 'Hellboy': The Seeds of Creation (2004), dtype: float64
======================유저 기반 1 번 user 추천 목록======================
userId
1      1.000000
266    0.357408
313    0.351562
368    0.345127
57     0.345034
91     0.334727
Name: 1, dtype: float64